<link href="./components/home/home.css" rel="stylesheet">

<div id="home">
    <div id="top-artists-container">
        <div id="search-form" name="countrySearch">
            <input type="text" name="countryInput" placeholder="Search top artists by country..." id="search-input">
            <input type="button" value="Search" id="search-button">
        </div>
        <h1 id="title">
            Top Artists in <span id="country-title"></span>
        </h1>
        <ul id="top-artists-list"></ul>
        <div id="paginator">
            <button id="prev-button">Prev</button>
            <span id="current-page"></span>
            <button id="next-button">Next</button>
        </div>
    </div>
</div>