<link href="components/artist-top-tracks/artist-top-tracks.css" rel="stylesheet">

<div id="top-tracks">
    <div id="header">
        <img id="artist-image">
        <div id="artist-details">
            <h1 id="artist-name"></h1>
            <h2 id="artist-listeners"></h2>
        </div>
    </div>
    <div id="top-tracks-container">
        <h2 id="title">Top tracks</h2>
        <ul id="top-tracks-list"></ul>
        <div id="paginator">
            <button id="prev-button">Prev</button>
            <span id="current-page"></span>
            <button id="next-button">Next</button>
        </div>
    </div>
</div>