@import './paginator.css';

:root {
    --bg_main: #e3e3e3;
    --bg_card: rgba(247, 78, 64, 0.1);
    --bg_nav: #000;
    --text_light: #e3e3e3;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --text_brand: #c20d00;
    --hover: #ddd;
    --border-radius-rounded: 10px;
}

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* height: 100vh; */
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 
        'nav nav nav'
        '.. container ..';
    grid-template-rows: 50px auto;
    grid-template-columns: 200px auto 200px;
}

#nav {
    grid-area: nav;
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-areas:
        '.. .. .. nav-brand .. .. ..';
    padding: 8px;
    background-color: var(--bg_nav);
}

#nav-brand {
    grid-area: nav-brand;
    color: var(--text_brand);
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

#container {
    grid-area: container;
    height: 100%;
}

@media screen and (max-width: 992px) {
    body {
        grid-template-areas: 
            'nav nav nav'
            'container container container';
    }

    #container {
        margin: 0px 16px;
    }
}
