#paginator {
    align-self: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#paginator button {
    color: var(--text_dark);
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

#current-page {
    background-color: var(--bg-card);
    padding: 8px 16px;
    width: 72px;
    text-align: center
}

#prev-button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#next-button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#paginator button:disabled {
    opacity: 50%;
}